@using KerberGestaoRegraDeNegocio.Models.Dtos
@model List<OrcamentoDto>
@{
    ViewData["Title"] = "Cadastro de Orçamento";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sistema-geral.css" />
</head>

<body class="fonteEscura">
    <br />
    <br />
    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-outline-danger btn-sm close-alert" arial-label="Close">x</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-outline-danger btn-sm close-alert" arial-label="Close">x</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-success" role="button" asp-controller="Orcamento" asp-action="Criar">Cadastrar Orçamento</a>
    </div>
    <br />

    <div class="text-center">
        <h1 class="display-4 fonteEscura">Lista de Orçamentos</h1>
        <br />
        <table class="table" id="table-clientes">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var orcamento in Model)
                    {
                        <tr>
                            <th scope="row">@orcamento.IdOrcamentos</th>
                            <td>@orcamento.NomeOrcamento</td>
                            <td>@orcamento.StatusOrcamento</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-outline-success" asp-route-id="@orcamento.IdOrcamentos" asp-controller="Orcamento" asp-action="Atualizar">Editar</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>




